
.button {
  background-color: grey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
}
